{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2 class="text-xl font-semibold mb-6 text-center">Entrar no Sistema</h2>

  {% if form.errors %}
    <div class="bg-red-100 text-red-700 p-3 rounded mb-4">
      Usuário ou senha inválidos.
    </div>
  {% endif %}

  <form method="post" class="space-y-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bg-[#002C5F] text-white px-6 py-2 rounded hover:bg-blue-800 transition w-full">
      Entrar
    </button>
  </form>
{% endblock %}
