{% extends "base.html" %}
{% load static %}

{% block title %}Agendar Consulta{% endblock %}

{% block content %}
  <h2 class="text-xl font-semibold mb-6 text-center">Agendamento de Consulta</h2>

  <form method="post" class="space-y-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bg-[#002C5F] text-white px-6 py-2 rounded hover:bg-blue-800 transition w-full">
      Confirmar Agendamento
    </button>
  </form>

  <div class="mt-4 text-center">
    <a href="{% url 'home' %}" class="text-[#002C5F] hover:underline">Voltar ao início</a>
  </div>
{% endblock %}
